* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 20rem;
  font-family: 'Cinzel' serif;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 6.4rem;
  color: #151718;
  line-height: 8.6rem;
}

span {
  color: #DB2777;
}

p {
  color: #2C2E2FE5;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'Inter', sans-serif;
  padding-bottom: 7.2rem;
}

.readmore {
  text-decoration: none;
  color: #151718;
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 1.6rem 3.2rem;
}

.readmore:hover {
  color: #DB2777;
  transition: 400ms;
}

.travel-btn {
  color: #FFFFFF;
  background: #DB2777;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 8.0rem;
  text-decoration: none;
}

.travel-btn:hover {
  filter: brightness(120%);
  transition: 400ms;
}

